body {
  background-color: #232323;
}

header,
.selected,
.btn:hover {
  background-color: #191970;
  color: white;
  transition: 0.5s;
}

button, input {
  overflow: hidden;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.selected,
.btn:hover {
  border: 1px solid #191970;
  border-radius: 0px 0px 5px 5px;
  transition: 0.5s;
}


.square {
  width: 30%;
  background: purple;
  border: 1rem solid var(background);
  border-radius: 2rem;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  transition: 0.5s;
}

.info-bar {
  background-color: white;
}

.info-bar * {
  margin-bottom: 0px;
}

#game-container {
  margin: 0 auto;
  max-width: 600px;
}
