body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  border: 20px solid lightgray;
}

article {
  margin: 20px;
}

hr {
  margin: 20px;
  color: lightgray;
}

h2 {
  color: #2c3e50;
  font-weight: bold;
  font-size: 2.0rem;
}

.summary {
  border-left: 3px solid lightgray;
  padding: 3px;
}

.date {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: blue;
}
