<%- include("parts/header") %>

<div class="landing-header">
    <p>welcome to YelpCamp</p>

    <a href="/campgrounds" class="btn btn-lg btn-success">campground page</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include("parts/footer") %>